<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>RandFacts Rest-API</h1>
    <p>Welcome to the randfacts rest-API, you can request safe and unsafe jokes easily,<br> and the jokes list is retrieved directly from the origional python module so everything is up to date.<br> You can request a safe fact with "https://randfacts-api.herokuapp.com/fact/safe", or an unsafe fact with "https://randfacts-api.herokuapp.com/fact/unsafe". <br> DISCLAIMER: Not all facts are guaranteed to be true.</p>
</div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>
